# You might not need every configuration in this file for every
# playbook. If you get any errors during playbook execution, check back here
# if the variable is set correctly.
---

# Used in .gitconfig as global author name for git commits
gitconfig_user_name:

nextcloud_client_version: 3.12.3