#
# ~/.bash_profile
#

[[ -f ~/.bashrc ]] && . ~/.bashrc

. ~/.bash_paths
eval "$(starship init bash)"

# Show fastfetch only the first time bash is started. This way
# we can have nice and shiny and a faster working environment
# Be aware that this counts for a BOOT, not for every session/tty etc.
test ! -f /tmp/fastfetch_shown && fastfetch_TMPFILE=$(mktemp /tmp/fastfetch_shown.XXX) && mv ${fastfetch_TMPFILE} /tmp/fastfetch_shown && fastfetch

alias dotfiles='/usr/bin/git --git-dir=$HOME/Projects/dotfiles --work-tree=$HOME'
